include webpack.includes/app.head.pug
body
    h1 #{h.appName}
    .content
        block content
            p This is the default!
    block scripts
        include webpack.includes/app.footer.pug
