doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        title= `${title} | ${h.appName}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/public/assets/styles.css')
body
    header.aw-header
        button.aw-header__menu-btn Menu
        .aw-header__title
            .aw-header__title-logo logo
            .aw-header__title-text= h.appName
        ul.aw-header__meta
            li.aw-header__user
                | Sven!
            li.aw-header__action
                a.aw-header__login Login
            li.aw-header__action
                a.aw-header__register Register
            li.aw-header__action
                a.aw-header__register Logout
    .aw-main-wrapper
        h1 #{h.appName}
        .content
            block content
                p This is the default!

    block scripts
        include webpack.includes/app.footer.pug

