doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        title= `${title} | ${h.appName}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/public/assets/styles.css')
body
    header.aw-header
        .aw-header__menu
            button.aw-header__menu-btn(aria-label="Main Menu")
                span
                span
                span
        .aw-header__title
            a.aw-header__title-logo(href="/")
                != h.image("logo.svg")
        ul.aw-header__actions
            li.aw-header__action
                a.aw-header__link(href="", aria-label="Games")
                    != h.icon("games")
            li.aw-header__action
                a.aw-header__link(href="", aria-label="Change Language")
                    != h.icon("language")
            li.aw-header__action
                a.aw-header__link(href="/auth/login/")
                    != h.icon("key")
                    span Login
            li.aw-header__action
                a.aw-header__link(href="/auth/register/")
                    != h.icon("lightbulb")
                    span Register
            li.aw-header__action
                a.aw-header__link.aw-header__link--circle(href="/auth/profile/")
                    img.aw-header__avatar(src="/public/assets/images/user-anon.svg")
            li.aw-header__action
                a.aw-header__link(href="/auth/logout/")
                    != h.icon("power")
                    span Logout
    .aw-main-wrapper
        h1 #{h.appName}
        .content
            block content
                p This is the default!

    block scripts
        include webpack.includes/app.footer.pug

