extends layout

block content
    main.aw-content__inner.aw-content__inner--narrow
        h1= title

            pre= h.dump(data)


block scripts
    include webpack.includes/app.footer.pug
