{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["last 2 versions", "ie >= 11", "safari >= 10"]
                },
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        "@babel/transform-modules-commonjs",
        "@babel/syntax-object-rest-spread",
        "@babel/proposal-object-rest-spread"
    ]
}
