extends ../email_layout

block content
    h2 Hallo @#{user.username}, Ihre Kontosperre wurde aufgehoben.
    p Admin @#{admin.username} hat die Sperre Ihres Benutzerkontos aufgehoben. Falls keine weiteren Sperren existieren können Sie Ihr Benutzerkonto jetzt wieder verwenden.

