{
    "extends": ["eslint:recommended", "plugin:vue/strongly-recommended"],
    "plugins": ["import", "vue"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "internals/webpack/config.base.js"
            }
        }
    },
    "rules": {
        // http://eslint.org/docs/rules/
        "indent": [2, 4, { "SwitchCase": 1 }],
        "quotes": [2, "double"],
        "linebreak-style": [1, "windows"],
        "semi": [2, "always"],
        "comma-style": [2, "last"],
        "no-undef": 2,
        "no-console": ["error", { "allow": ["log", "warn", "error", "dir"] }],
        "comma-spacing": [2, { "before": false, after: true }],
        "new-cap": [2, { "newIsCap": true, "capIsNew": false }],
        "no-multi-spaces": [
            1,
            {
                "exceptions": {
                    "ImportDeclaration": true,
                    "VariableDeclarator": true
                }
            }
        ],
        // don"t require .vue extension when importing
        "import/extensions": ["error", "always", {
            "js": "never",
            "vue": "always"
        }],
        "vue/html-indent": ["error", 4, {
            "attribute": 1,
            "closeBracket": 0,
            "alignAttributesVertically": true,
            "ignores": []
        }],
        "vue/require-default-prop": 0
    },
    "globals": {
        "Promise": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}
