/***********************************************************************************************************************
 *
 * BASIC FRAMEWORK
 *
 **********************************************************************************************************************/
@import "../abstracts/config";
@import "../abstracts/functions";
@import "../abstracts/mixins";


html {
    height: 100%;

    font-size: 62.5%; // @ default 16px 1 rem => 10px
}


body {
    background: palette("grey", "ebony") image("backgroundtile.svg");
    color: palette("text", "light");

    font-family: map-get($fonts, "system");
    font-size: 1.6rem;

    @extend %ui-scrollbar;

    &.fonts-loaded {
        font-family: map-get($fonts, "text");
    }
}
