extends layout

block content
    main.aw-content__inner
        header.aw-content-head
            h1.aw-content-head__title #{status}#{message ? " - " + message : ""}
        pre.error!= stackHighlighted

