/***********************************************************************************************************************
 *
 * User list table
 *
 **********************************************************************************************************************/
@import "../../abstracts/config";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";


.admin-listtable {
    $border: 1px solid palette("borders", "darkbg");

    width: 100%;
    border-top: $border;
    border-left: $border;
    border-collapse: collapse;

    td,
    th {
        position: relative;

        padding: 1rem;
        border-right: $border;
        border-bottom: $border;

        font-weight: 300;
        text-align: left;
    }

    thead th {
        background: palette("grey", "abbey");
    }

    tbody &__row:nth-child(2n) td {
        background: palette("grey", "ebony");
    }

    &__row {
        &--disabled {
            color: palette("text", "subdued");
            font-style: italic;
        }
    }

    &__status {
        display: inline-block;

        width: 2.4rem;
        height: 2.4rem;
        padding: 0.2rem;
        margin-left: 1rem;

        background: palette("grey", "charcoal");
        line-height: 2.2rem;

        &--success {
            background: palette("state", "success");
            color: palette("grey", "white");
        }

        &--warning {
            background: palette("state", "warning");
            color: palette("state", "error");
        }

        &--error {
            background: palette("state", "error");
            color: palette("grey", "white");
        }

        &--stars {
            margin-left: 0;

            background: palette("grey", "raven");
            color: palette("brand", "gorse");
            border-radius: 50%;
        }

    }

    &__td-space-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__td-symbols {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }

        > span {
            margin-right: 0.5rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__td-highlighted {
        color: palette("brand", "viking");
    }
}

