/***********************************************************************************************************************
 *
 * Ascii preview map
 *
 **********************************************************************************************************************/
@import "../../abstracts/config";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";

// simple map preview ==================================================================================================
.admin-map {
    &__sector {

        width: 1rem;
        height: 1rem;
        padding: 0;

        &--star {
            color: palette("brand", "viking");

            font-size: 1rem;
        }
    }

    &--large .admin-map__sector {
        width: 0.5rem;
        height: 0.5rem;

        &--star {
            font-size: 0.5rem;
        }
    }

    &--small .admin-map__sector {
        width: 1.6rem;
        height: 1.6rem;

        &--star {
            font-size: 1.6rem;
        }
    }

    &__wrapper {
        overflow-x: auto;
        overflow-y: hidden;

        @extend %scrollbar;
    }

    &__row {
        height: 1rem;

        background-color: palette("grey", "ebony");
    }
}

