/***********************************************************************************************************************
 *
 * Header Component
 *
 **********************************************************************************************************************/
@import "../abstracts/config";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.aw-header {
    display: flex;
    position: relative;

    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;

    background: palette("grey", "bunker");

    //
    // 1 - main menu button
    //
    &__menu {
        display: flex;
        align-items: center;
    }

    &__menu-btn {
        position: relative;

        width: 34px;
        height: 34px;
        padding: 0;
        border: 0;

        background: none;
        cursor: pointer;

        > span {
            display: block;
            width: 100%;
            height: 3px;
            border: 1px solid palette("text", "light");
            margin-bottom: 4px;

            background: transparent;
            border-radius: 3px;

            transition: border-color 150ms linear, background-color 150ms linear;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:hover > span {
            background-color: palette("grey", "abbey");
            border-color: palette("brand", "viking");
        }

    }

    //
    // 2 - title and logo
    //
    &__title {
        display: flex;
        align-items: center;

        margin-left: 18px;

        color: palette("brand", "viking");
        text-decoration: none;
    }

    &__title-logo {
        width: 24px;
        height: 24px;
    }

    //
    // 3 - meta links: login, logout, profile, languages, games
    //
    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding: 0;
        margin: 0;
        flex-grow: 1;

        list-style: none;
    }

    &__action {
        position: relative;
        margin-right: 8px;

        .aw-icon {
            width: 20px;
            height: 20px;

            color: currentColor;
        }

        &:last-child {
            margin-right: 0;
        }
    }


    &__link {
        display: flex;
        align-items: center;

        padding: 5px 10px;

        background: palette("grey", "raven");
        color: palette("text", "light");

        text-decoration: none;
        transition: background-color 150ms linear, color 150ms linear;

        &--circle {
            padding: 2px;

            border-radius: 15px;
        }

        > span {
            margin-left: 5px;
        }

        &:hover,
        &--active {
            background: palette("grey", "ebony");
            color: palette("brand", "viking");
        }
    }

    // user avatar and user account menu
    &__avatar {
        width: 26px;
        height: 26px;

        color: palette("text", "header");
        border-radius: 13px;
    }

    //
    // submenues
    //
    &__submenu {
        $arrowSize: 6px;

        display: none;
        position: absolute;
        top: 100%;
        z-index: 1;
        opacity: 0;

        width: 100px;
        padding: 0;
        margin: #{$arrowSize} 0 0;

        list-style: none;

        .aw-header__link--active + & {
            display: block;
            opacity: 1;
        }

        .aw-header__link--opening + &,
        .aw-header__link--closing + & {
            display: block;

            backface-visibility: visible !important;
            opacity: 1;

            animation-duration: 150ms;
            animation-fill-mode: both;
        }

        .aw-header__link--opening + & {
            animation-name: openSubmenu;
        }

        .aw-header__link--closing + & {
            animation-name: closeSubmenu;
        }


        &::before {
            display: block;
            position: absolute;
            top: -#{$arrowSize};

            width: 0;
            height: 0;
            border-width: 0 #{$arrowSize} #{$arrowSize};
            border-style: solid;

            border-color: transparent transparent palette("brand", "viking") transparent;

            content: " ";
        }

        &--medium {
            width: 160px;
        }

        &--large {
            width: 220px;
        }

        &--left {
            left: 0;

            &::before {
                left: 14px;
            }
        }

        &--right {
            right: 0;

            .aw-header__submenu-item-link {
                justify-content: flex-end;
            }

            &::before {
                right: 14px;

                // circle header is smaller than icon buttons
                .aw-header__link--circle + & {
                    right: 9px;
                }
            }
        }
    }

    &__submenu-item {
        display: block;
        border: 2px solid palette("grey", "abbey");
        border-bottom-width: 0;

        &:last-child {
            border-bottom-width: 2px;
        }
    }

    &__submenu-item-link {
        display: flex;
        align-items: center;

        padding: 5px 10px;

        background-color: palette("grey", "raven");
        color: palette("grey", "iron");

        text-decoration: none;

        transition: background-color 150ms linear;

        > svg {
            display: inline-block;

            width: 30px;
            height: 15px;
            border: 1px solid palette("grey", "white");
            margin-right: 8px;

            filter: grayscale(70%);
            border-radius: 2px;
        }

        &:hover {
            background-color: palette("grey", "bunker");

            > svg {
                filter: none;
            }
        }
    }

}

/*
 * Animation for opening dropdowns (hardware accelerated)
 */
@keyframes openSubmenu {
    from {
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
    }
    to {
        opacity: 1;
        transform: perspective(400px);
    }
}

/*
 * Animation for closing dropdowns (hardware accelerated)
 */
@keyframes closeSubmenu {
    from {
        opacity: 1;
        transform: perspective(400px);
    }

    to {
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    }
}
