/***********************************************************************************************************************
 *
 * SVG Icon Component
 *
 **********************************************************************************************************************/
@import "../abstracts/config";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.aw-icon {
    display: inline-block;

    width: 24px;
    height: 24px;

    fill: currentColor;
}

// hidden sprite sheet. we inline the svg containing the <symbol>s, and reference them via <use>
.aw-icon-sprite {
    display: none;
}
