/***********************************************************************************************************************
 *
 * BASE variables for use in other scss files
 *
 **********************************************************************************************************************/
// sass-lint:disable indentation

/*
 * color palette
 */
$palettes: (
    "brand": (
        "base": #6fc3df
        , "viking": #6fc3df
        , "gorse": #ffe64d
        , "christine": #df740c
    )
    , "grey": (
        "base": #757c84
        , "white": #fff
        , "mystic": #eaf0f2
        , "iron": #afb2b2
        , "fog": #b7b7af
        , "charcoal": #757c84
        , "asher": #555f61
        , "abbey": #4c4f56
        , "raven": #373d3f
        , "bunker": #151e21
        , "sunken": #141721
        , "ebony": #06060f
        , "black": #000
    )
    , "text": (
        "base": #cdd0d0
        , "lighter": #eaf0f2
        , "light": #cdd0d0
        , "tint": #939393
        , "subdued": #737676
        , "dark": #182226
    )
    , "progress": (
        "1": #86e01e
        , "2": #cbd81c
        , "3": #f2b01e
        , "4": #f27011
        , "5": #f63a0f
    )
    , "state": (
        "success": #4b9b29
        , "warning": #f2b01e
        , "error": #c82a05
    )
);

/*
 * animation speeds for transition-duration and animation-duration
 */
$animation-speeds: (
    "fast": 150ms
    , "quick": 250ms
    , "medium": 450ms
    , "portly": 650ms
    , "slow": 1000ms
    , "delayed": 1500ms
);

/*
 * font
 */
$fonts: (
    "system": #{-apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif}
    , "mono": #{Courier, monospace}
    , "text": #{"Roboto", sans-serif}
    , "headline": #{"Roboto", sans-serif}
);

// refers to min-width breakpoints. lets do this mobile first.
$breakpoints: (
    "small": 480px
    , "medium": 768px
    , "large": 1024px
    , "xlarge": 1240px
    , "max": 1440px
);

$z-layers: (
    "bottomless": -9999
    , "background": -1
    , "default": 0
    , "form": 1
    , "drawer": 5
    , "header": 6
    , "dropdown": 200
    , "overlay": 1000
    , "modal": 2000
);

$shadows: (
    "shine1dp": #{0 0 15px map-get(map-get($palettes, "brand"), "christine")}
    , "light1dp": #{1px 1.5px 0 rgba(#fff, 0.12), 0 1px 1px 0 rgba(#fff, 0.24)}
    , "light2dp": #{0 2px 2px 0 rgba(#fff, 0.14), 0 3px 1px -2px rgba(#fff, 0.2), 0 1px 5px 0 rgba(#fff, 0.12)}
    , "light4dp": #{0 4px 5px 0 rgba(#fff, 0.14), 0 1px 10px 0 rgba(#fff, 0.12), 0 2px 4px -1px rgba(#fff, 0.2)}
    , "light1dpsimple": #{0 2px 15px 0 rgba(#fff, 0.26)}
);


/***********************************************************************************************************************
 *
 * VENDOR configuration
 *
 **********************************************************************************************************************/

//
// normalize-scss Variables
//
// The font size set on the root html element.
$base-font-size: 16px !default;
// The default font family.
$base-font-family: map-get($fonts, "system") !default;


