/***********************************************************************************************************************
 *
 * BASE variables for use in other scss files
 *
 **********************************************************************************************************************/
// sass-lint:disable indentation
@import "functions";

$brand: (
    "viking": #6fc3df
    , "gorse": #ffe64d
    , "christine": #df740c
);

$grey: (
    "white": #fff
    , "mystic": #eaf0f2
    , "iron": #cdd0d0
    , "abbey": #4c4f56
    , "bunker": #182226
    , "ebony": #06060f
    , "black": #000
);

$fonts: (
    "system": #{-apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif}
    , "text": #{"Roboto", sans-serif}
    , "headline": #{"Roboto", sans-serif}
);

$breakpoints: (
    "small": (min-device-width : 320px) and (max-device-width : 480px)
    , "medium": (min-device-width : 481px) and (max-device-width : 768px)
    , "large": (min-device-width : 768px) and (max-device-width : 1024px)
    , "xlarge": (min-device-width : 1025px) and (max-device-width : 1224px)
    , "max": (min-device-width : 1225px)
);


$ui-shadow-1dp:
    0 1px 1.5px 0 rgba(map-get($grey, "black"), 0.12),
    0 1px 1px 0 rgba(map-get($grey, "black"), 0.24);
$ui-shadow-2dp:
    0 2px 2px 0 rgba(map-get($grey, "black"), 0.14),
    0 3px 1px -2px rgba(map-get($grey, "black"), 0.2),
    0 1px 5px 0 rgba(map-get($grey, "black"), 0.12);
$ui-shadow-4dp:
    0 4px 5px 0 rgba(map-get($grey, "black"), 0.14),
    0 1px 10px 0 rgba(map-get($grey, "black"), 0.12),
    0 2px 4px -1px rgba(map-get($grey, "black"), 0.2);


/***********************************************************************************************************************
 *
 * VENDOR configuration
 *
 **********************************************************************************************************************/

//
// normalize-scss Variables
//
// The font size set on the root html element.
$base-font-size: 16px !default;
// The default font family.
$base-font-family: map-get($fonts, "system") !default;


