/***********************************************************************************************************************
 *
 * mixins that can be used in other scss files
 *
 **********************************************************************************************************************/
@import "theme/abstracts/config";
@import "theme/abstracts/functions";
// sass-lint:disable no-vendor-prefixes


// retina image
@mixin retina-image($filename, $background-size, $extension: png, $retina-filename: null, $retina-suffix: _2x) {
    background-image: url("#{$filename}.#{$extension}");

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min--moz-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (min-resolution: 144dpi),
        only screen and (min-resolution: 1.5dppx) {
            @if $retina-filename {
                background-image: url("#{$retina-filename}.#{$extension}");
            } @else {
                background-image: url("#{$filename}#{$retina-suffix}.#{$extension}");
            }
            background-size: $background-size;
    }
}


/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(
            type-of($raw-query) == "string",
            unquote($raw-query),
            inspect($raw-query)
        );

        @media #{$query} {
            @content;
        }
    } @else {
        @error "No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpsoints` map.";
    }
}


@mixin font-family($family: map-get($fonts, "text")) {
    .fonts-loaded & {
        font-family: $family;
    }
}


// Modern micro CLEARFIX provides an easy way to contain floats without adding additional markup.
//
// Example usage:
//    // Contain all floats within .wrapper
//    .wrapper {
//      @extend %clearfix;
//      .content,
//      .sidebar {
//        float : left;
//      }
//    }
%clearfix {
    zoom                : 1;

    &::before,
    &::after {
        display         : block;

        overflow        : hidden;
        height          : 0;

        content         : "\0020";
    }

    &::after {
        clear           : both;
    }
}


// mixin for our default scrollbar. webkit only, because JS solutions suck. gief standard pls.
%ui-scrollbar {
    &::-webkit-scrollbar {
        width           : 8px;
        height          : 8px;

        background      : map-get($brand, "christine");
    }

    &::-webkit-scrollbar-track {
        background      : transparent;
    }

    &::-webkit-scrollbar-thumb {
        border          : 1px solid map-get($grey, "black");

        background      : linear-gradient(to bottom, map-get($brand, "gorse") 0%, map-get($brand, "viking") 50%, map-get($brand, "gorse") 100%);
        border-radius   : 5px;

        &:active {
            background      : linear-gradient(to bottom, map-get($brand, "gorse") 0%, map-get($brand, "viking") 40%, map-get($brand, "viking") 60%, map-get($brand, "gorse") 100%);
        }

        &:hover {
            box-shadow      : inset 0 0 100px map-get($grey, "iron");
        }
    }

}
