/***********************************************************************************************************************
 *
 * BASE variables for use in other scss files
 *
 **********************************************************************************************************************/
@import "theme/functions";

$brand: (
    "viking": #6fc3df
    , "gorse": #ffe64d
    , "christine": #df740c
);

$gray: (
    "white": #fff
    , "mystic": #eaf0f2
    , "iron": #cdd0d0
    , "abbey": #4c4f56
    , "bunker": #182226
    , "ebony": #0c141f
    , "black": #000
);

$fonts: (
    "system": #{-apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif}
    , "text": #{"Lato", sans-serif}
    , "headline": #{"Raleway", sans-serif}
);


$ui-shadow-1dp: 0 1px 1.5px 0 rgba(map-get($gray, "black"), 0.12)
                , 0 1px 1px 0 rgba(map-get($gray, "black"), 0.24);
$ui-shadow-2dp: 0 2px 2px 0 rgba(map-get($gray, "black"), 0.14)
                , 0 3px 1px -2px rgba(map-get($gray, "black"), 0.2)
                , 0 1px 5px 0 rgba(map-get($gray, "black"), 0.12);
$ui-shadow-4dp: 0 4px 5px 0 rgba(map-get($gray, "black"), 0.14)
                , 0 1px 10px 0 rgba(map-get($gray, "black"), 0.12)
                , 0 2px 4px -1px rgba(map-get($gray, "black"), 0.2);
