extends ../email_layout

block content
    h2 Hallo @#{user.username}, bitte bestätigen Sie Ihre neue E-Mail-Adresse!
    p Sie haben Ihre E-Mail-Adresse auf arkwars.io geändert. Bitte klicken Sie auf den folgenden Button um Ihre neue Email zu bestätigen und Ihr Konto zu (re)-aktivieren. Bitte beachten Sie das der Link nur eine Stunde lang gültig ist.
    +button(confirmURL, "Mein Konto aktivieren →")
    p Falls Sie den Button oberhalb nicht klicken können besuchen Sie bitte
        br
        | #{confirmURL}
    p Registrierter Benutzername
        br
        span= user.username
    p Registrierte E-Mail Adresse
        br
        span= user.email
    br
