/***********************************************************************************************************************
 *
 * Turn Component
 * renders turn icon and current turn.
 *
 **********************************************************************************************************************/
@import "../../abstracts/config";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";

.aw-turn {
    display: inline-flex;
    align-items: center;

    padding: 0.2rem 0.5rem;

    background: palette("grey", "raven");
    color: palette("brand", "viking");

    .aw-icon {
        color: palette("text", "light");
    }

    &__value {
        margin-left: 0.5rem;

        font-weight: 700;
    }
}
