/***********************************************************************************************************************
 *
 * Avatar Component
 *
 **********************************************************************************************************************/
@import "../../abstracts/config";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";


.aw-change-avatar {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;

    background: palette("grey", "fog");

    @include respond-to("small") {
        display: inline-flex;
    }

    /*
     * 1. show current avatar ==========================================================================================
     */
    &__current {
        display: flex;
        align-items: center;
        justify-content: center;

        background: palette("grey", "asher");

        @include respond-to("small") {
            flex: 0 0 20rem;
        }

        @include respond-to("medium") {
            flex: 0 0 30rem;
            text-align: right;
        }
    }

    /*
     * 2. avatar actions ===============================================================================================
     */
    &__action {
        display: flex;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        padding: 1rem;

        @include respond-to("small") {
            width: auto;
            flex-grow: 1;
        }
    }

    /*
     * 2.1 select a new avatar image ===================================================================================
     */
    &__upload-label {
        display: inline-flex;
        position: relative;
        align-items: center;

        padding: 1rem 3rem;
        margin: 0 auto 1rem 0;

        background-color: palette("grey", "raven");
        color: palette("text", "light");

        cursor: pointer;

        transition:
            background map-get($animation-speeds, "fast") linear,
            color map-get($animation-speeds, "fast") linear;

        .aw-icon {
            margin-right: 1rem;
        }
        &:hover,
        &:focus {
            background-color: palette("grey", "asher");
            color: palette("grey", "white");
        }
    }
    &__upload-input {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: z("background");
        opacity: 0;

        width: 100%;
        padding: 0;
        margin: 0;

        cursor: pointer;
    }

    /*
     * 2.2 save avatar =================================================================================================
     */
    &__submit {
        display: inline-flex;
    }

    /*
     * 2.2 delete current avatar =======================================================================================
     */
    &__btn {
        display: inline-flex;
        align-items: center;

        padding: 1rem 3rem;
        border: 0;
        margin-right: 2rem;

        background-color: palette("grey", "raven");
        color: palette("text", "light");

        cursor: pointer;
        line-height: 1.4;
        text-decoration: none;

        transition:
            background map-get($animation-speeds, "fast") linear,
            color map-get($animation-speeds, "fast") linear;

        .aw-icon {
            margin-right: 1rem;
        }

        &:active,
        &:focus {
            outline: 0;
        }

        &:hover,
        &:focus {
            background-color: palette("grey", "asher");
            color: palette("grey", "white");
        }

        &:last-child {
            margin-right: 0;
        }
    }

    /*
     * 3. description ==================================================================================================
     */
    &__description {
        margin-bottom: 2rem;
        color: palette("text", "tint");
    }
}

.aw-show-avatar {

    padding: 4px;

    background: palette("grey", "raven");
    border-radius: 50%;

    &--small {
        width: 28px;
        height: 28px;
    }

    &--medium {
        width: 48px;
        height: 48px;
    }

    &--big {
        width: 96px;
        height: 96px;
    }
}
