/***********************************************************************************************************************
 *
 * Drawer Component
 *
 **********************************************************************************************************************/
@import "../../abstracts/config";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";

.aw-drawer {
    display: none;
    position: absolute;
    top: 7rem;
    bottom: 0;
    left: 0;
    z-index: z("drawer");

    opacity: 0;

    width: 24rem;

    background: palette("grey", "bunker");

    @include respond-to("small") {
        top: 8.4rem;
    }

    @include respond-to("medium") {
        position: relative;
        top: auto;

        flex: 0 0 24rem;
    }

    &--open {
        display: block;
        opacity: 1;
    }

    &--opening,
    &--closing {
        display: block;

        backface-visibility: visible !important;
        opacity: 1;

        // this must be synched with ANIMATION_DURATION in components/app/drawer.js
        animation-duration: map-get($animation-speeds, "fast");
        animation-fill-mode: both;
    }

    &--opening {
        animation-name: openDrawer;
    }

    &--closing {
        animation-name: closeDrawer;
    }

    /*
     * 0. drawer list. this is our main wrapper ========================================================================
     */
    &__list {
        display: flex;
        flex-direction: column;

        height: 100%;
        padding: 0;
        margin: 0;

        list-style: none;
    }

    &__list-item {
        border-top: 2px solid palette("grey", "ebony");

        &--info {
            padding: 1rem;

            @include respond-to("small") {
                padding: 1.5rem;
            }
        }

        &--spacer {
            flex-grow: 1;
        }

        @media all and (max-width: #{map-get($breakpoints, "medium")}) {
            &--turn {
                display: none;
            }
        }
    }

    /*
     * 1. info section in the drawer - server time, your time ==========================================================
     */
    &__info {
        display: flex;
        justify-content: space-between;

        color: palette("text", "tint");

        &--darker {
            color: palette("text", "subdued");
        }
    }

    /*
     * 2. turn section: current turn, progress until next turn. ========================================================
     */
    &__turn {
        padding: 1rem;

        @include respond-to("small") {
            padding: 1.5rem;
        }
    }

    &__turn-current {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__turn-next {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        margin-top: 0.5rem;
    }

    &__turn-next-label {
        flex: 0 0 100%;
    }

    &__turn-next-progress {
        display: flex;
        align-items: center;

        flex: 0 0 calc(100% - 7.5rem);
    }

    /*
     * 3. links to game areas. =========================================================================================
     */
    &__link {
        display: flex;
        align-items: center;

        padding: 0.5rem 1rem;
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;

        background-color: palette("grey", "bunker");
        color: palette("text", "light");

        text-decoration: none;

        transition:
            background-color map-get($animation-speeds, "fast") linear,
            color map-get($animation-speeds, "fast") linear;

        > .aw-icon {
            margin-right: 0.5rem;

            transition: color map-get($animation-speeds, "fast") linear;
        }

        &--active,
        &:hover {
            background: palette("grey", "ebony");
            color: palette("brand", "viking");

            > .aw-icon {
                color: palette("brand", "christine");
            }
        }

        @include respond-to("small") {
            padding: 1.5rem;

            > .aw-icon {
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 1rem;
            }
        }

        &--active {
            border-top-color: palette("brand", "gorse");
            border-bottom-color: palette("brand", "gorse");
        }
    }
}

/*
 * Animation for opening drawer ========================================================================================
 */
@keyframes openDrawer {
    from {
        visibility: visible;

        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/*
 * Animation for closing drawer ========================================================================================
 */
@keyframes closeDrawer {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;

        transform: translate3d(-100%, 0, 0);
    }
}
