/***********************************************************************************************************************
 *
 * Auth Component
 *
 **********************************************************************************************************************/
@import "../../abstracts/config";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";

// TODO: clean up this namespacing. its shit.
.aw-form,
.aw-narrowform {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    margin: 0 auto 1rem 0;

    background: palette("grey", "sunken");

    @include respond-to("small") {
        margin-bottom: 2rem;
    }

    &__row {
        box-sizing: border-box;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include respond-to("small") {
            align-items: center;
            flex-direction: row;
        }

        &.error {
            .aw-narrowform-input__label,
            .aw-form-input__label {
                background: palette("state", "error");
                color: palette("grey", "white");
            }

            .aw-narrowform-input__input,
            .aw-form-input__input {
                background: palette("grey", "mystic");
                color: palette("state", "error");
            }
        }
    }

    &__row-headline {
        display: flex;
        align-items: center;

        box-sizing: border-box;
        margin-bottom: 2rem;

        color: palette("text", "light");

        font-size: 2rem;

        &::after {
            display: block;

            height: 1px;
            margin-left: 1rem;
            flex-grow: 1;

            background-color: palette("brand", "gorse");

            content: " ";
        }
    }

    &__row-description {
        margin-top: 0.5rem;

        color: palette("text", "tint");
    }

    &__error-message {
        margin-top: 0.5rem;

        color: lighten(palette("state", "error"), 35%);

        text-align: right;
    }

    &__submit {
        //.aw-btn {
        //    color: palette("brand", "gorse");
        //}

        @include respond-to("small") {
            margin-left: 20rem;
        }

        @include respond-to("medium") {
            margin-left: 30rem;
        }
    }
}

