/***********************************************************************************************************************
 *
 * Grid Component
 *
 **********************************************************************************************************************/
@import "../../abstracts/config";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";


.aw-grid {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    margin: 0 0 1rem;

    background: palette("grey", "sunken");

    @include respond-to("small") {
        margin-bottom: 2rem;
    }

    &__row {
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        /*
         * 2 column rows ===============================================================================================
         */
        @include respond-to("small") {
            flex-direction: row;
            &--2col .aw-grid__column {
                flex-grow: 1;
                &:first-child {
                    flex: 0 0 30rem;
                }
            }
        }

        &--seperated {
            padding: 0 0 2rem;
            border-bottom: 1px solid palette("brand", "christine");

            &:last-of-type {
                border-bottom-width: 0;
            }
        }
    }

    &__headline {
        display: flex;
        align-items: center;

        box-sizing: border-box;
        width: 100%;
        margin-bottom: 2rem;

        color: palette("text", "light");

        font-size: 2rem;

        &::after {
            display: block;

            height: 1px;
            margin-left: 1rem;
            flex-grow: 1;

            background-color: palette("brand", "gorse");
            content: " ";
        }
    }

    &__column {
        &--vcentered {
            display: flex;
            align-items: center;

            > span {
                margin-right: 1rem;
            }
        }
    }

    &__flag svg {
        display: inline-block;

        width: 40px;
        border: 1px solid palette("grey", "white");

        border-radius: 2px;
    }


}
