/***********************************************************************************************************************
 *
 * Header Component
 *
 **********************************************************************************************************************/
@import "../../abstracts/config";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";

.aw-header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: z("header");
    flex-wrap: wrap;

    box-sizing: border-box;
    width: 100%;
    height: 7rem;
    padding: 5px 10px;

    background: palette("grey", "bunker");

    @include respond-to("small") {
        height: 8.4rem;
        padding: 10px 15px;
    }

    @media all and (min-width: #{map-get($breakpoints, "medium") + 1}) {
        height: 5.4rem;
    }


    /*
     * 1 - main menu button ============================================================================================
     */
    &__menu {
        display: flex;
        align-items: center;
    }

    &__menu-btn {
        position: relative;

        width: 2.4rem;
        height: 2.4rem;
        padding: 0;
        border: 0;

        background: none;
        outline: 0;
        cursor: pointer;


        @include respond-to("small") {
            width: 3.4rem;
            height: 3.4rem;
        }

        > span {
            display: block;
            width: 100%;
            height: 2px;
            border: 1px solid palette("grey", "charcoal");
            margin-bottom: 4px;

            background: transparent;
            border-radius: 3px;

            transition:
                border-color map-get($animation-speeds, "fast") linear,
                background-color map-get($animation-speeds, "fast") linear,
                transform map-get($animation-speeds, "fast") linear,
                opacity map-get($animation-speeds, "fast") linear;

            @include respond-to("small") {
                height: 3px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:hover > span {
            background-color: palette("grey", "abbey");
            border-color: palette("brand", "viking");
        }

        &--open {

            &:hover > span {
                opacity: 1;
                background-color: palette("brand", "gorse");
            }
            > span {
                opacity: 0.4;
                background-color: palette("brand", "viking");
                border-color: palette("brand", "viking");

                &:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }

            @include respond-to("small") {
                > span:nth-child(1) {
                    transform: translateY(9px) rotate(45deg);
                }

                > span:nth-child(3) {
                    transform: translateY(-9px) rotate(-45deg);
                }
            }
        }

    }

    /*
     * 2 - title and logo ==============================================================================================
     */
    &__title {
        display: flex;
        align-items: center;

        margin-left: 10px;

        color: palette("brand", "viking");
        text-decoration: none;

        @include respond-to("small") {
            margin-left: 18px;
        }

        @include respond-to("xlarge") {
            position: absolute;
            left: 50%;

            margin-left: 0;

            transform: translateX(-50%);
        }
    }

    &__title-link {
        display: flex;
        align-items: center;

        text-decoration: none;

        > svg { // logo
            width: 24px;
            height: 24px;

            @include respond-to("medium") {
                width: 36px;
                height: 36px;
            }
        }

        > span { // this is the text ${appName}
            display: none;
            margin-left: 12px;

            color: palette("brand", "viking");

            font-size: 2.4rem;
            font-weight: 400;

            transition: text-shadow map-get($animation-speeds, "fast") linear;

            @include respond-to("medium") {
                display: block;
            }

            &:hover {
                text-shadow: map-get($shadows, "shine1dp");
            }
        }
    }

    /*
     * 3 - meta links: login, logout, profile, languages, games ========================================================
     */
    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding: 0;
        margin: 0;
        flex-grow: 1;

        list-style: none;
    }

    &__action {
        position: relative;
        margin-right: 8px;

        .aw-icon {
            width: 20px;
            height: 20px;

            color: currentColor;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;

        padding: 5px;

        background: palette("grey", "raven");
        color: palette("text", "light");

        text-decoration: none;
        transition: background-color map-get($animation-speeds, "fast") linear, color map-get($animation-speeds, "fast") linear;

        @include respond-to("small") {
            padding: 5px 10px;
        }

        &--circle {
            padding: 2px;

            border-radius: 50%;
        }

        > span {
            &:not(.keep) {
                display: none;

                @include respond-to("large") {
                    display: block;

                    margin-left: 5px;
                }
            }

            &.keep {
                margin-left: 5px;
            }
        }

        &:hover,
        &--active {
            background: palette("grey", "ebony");
            color: palette("brand", "viking");
        }
    }

    // user avatar and user account menu
    &__avatar {
        width: 28px;
        height: 28px;

        color: palette("text", "header");
        border-radius: 14px;
    }

    /*
     * 3.1 submenus ====================================================================================================
     */
    &__submenu {
        $arrowSize: 6px;

        display: none;
        position: absolute;
        top: 100%;
        z-index: 1;
        opacity: 0;

        width: 100px;
        padding: 0;
        margin: #{$arrowSize} 0 0;

        list-style: none;

        .aw-header__link--active + & {
            display: block;
            opacity: 1;
        }

        .aw-header__link--opening + &,
        .aw-header__link--closing + & {
            display: block;

            backface-visibility: visible !important;
            opacity: 1;

            // this must be synched with ANIMATION_DURATION in client/components/app/header.js
            animation-duration: map-get($animation-speeds, "fast");
            animation-fill-mode: both;
        }

        .aw-header__link--opening + & {
            animation-name: openSubmenu;
        }

        .aw-header__link--closing + & {
            animation-name: closeSubmenu;
        }


        &::before {
            display: block;
            position: absolute;
            top: -#{$arrowSize};

            width: 0;
            height: 0;
            border-width: 0 #{$arrowSize} #{$arrowSize};
            border-style: solid;

            border-color: transparent transparent palette("grey", "abbey") transparent;

            content: " ";
        }

        &--medium {
            width: 160px;
        }

        &--large {
            width: 220px;
        }

        &--left {
            left: 0;

            &::before {
                left: 10px;
                @include respond-to("small") {
                    left: 14px;
                }
            }
        }

        &--right {
            right: 0;

            .aw-header__submenu-item-link {
                justify-content: flex-end;
            }

            &::before {
                right: 14px;

                // circle header is smaller than icon buttons
                .aw-header__link--circle + & {
                    right: 9px;
                }
            }
        }
    }

    &__submenu-item {
        display: block;
        border: 2px solid palette("grey", "abbey");
        border-bottom-width: 0;

        &:last-child {
            border-bottom-width: 2px;
        }
    }

    &__submenu-item-link {
        display: flex;
        align-items: center;

        padding: 5px 10px;

        background-color: palette("grey", "raven");
        color: palette("text", "light");

        text-decoration: none;

        transition: background-color map-get($animation-speeds, "fast") linear;

        > svg {
            display: inline-block;

            width: 30px;
            height: 15px;
            border: 1px solid palette("grey", "white");
            margin-right: 8px;

            filter: grayscale(70%);
            border-radius: 2px;
        }

        &:hover:not(&--active) {
            background-color: palette("grey", "bunker");
            > svg {
                filter: none;
            }
        }

        &--active {
            background-color: palette("grey", "black");
            > svg {
                filter: none;
            }
        }
    }

    /*
     * 4. turn data - permanently displayed in header for mobile
     */
    &__turn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 2.5rem;
        margin-top: 0.2rem;
        flex: 0 0 100%;

        @include respond-to("small") {
            margin-top: 0.5rem;
        }

        @media all and (min-width: #{map-get($breakpoints, "medium") + 1}) {
            display: none;
        }
    }

    &__turn-next-progress {
        margin: 0 1rem;

        flex-grow: 1;

        .aw-progress > svg {
            height: 6px;
        }
    }

    &__server-time {
        margin-left: 1rem;
    }

}

/*
 * Animation for opening dropdowns =====================================================================================
 */
@keyframes openSubmenu {
    from {
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
    }
    to {
        opacity: 1;
        transform: perspective(400px);
    }
}

/*
 * Animation for closing dropdowns =====================================================================================
 */
@keyframes closeSubmenu {
    from {
        opacity: 1;
        transform: perspective(400px);
    }

    to {
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    }
}
