/***********************************************************************************************************************
 *
 * <a> Component
 *
 **********************************************************************************************************************/
@import "../../abstracts/config";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";

.aw-textlink {
    border-bottom: 2px solid palette("brand", "viking");

    color: palette("grey", "fog");
    box-shadow: inset 0 -2px palette("brand", "viking");
    text-decoration: none;


    transition:
        color map-get($animation-speeds, "fast") linear,
        background-color map-get($animation-speeds, "fast") linear;

    &:hover,
    &:focus {
        background-color: palette("brand", "viking");
        color: palette("grey", "black");
    }
}
