/***********************************************************************************************************************
 *
 * Pagination Component
 *
 **********************************************************************************************************************/
@import "../../abstracts/config";
@import "../../abstracts/functions";
@import "../../abstracts/mixins";

$basecolor: darken(palette("grey", "raven"), 6%);
$altcolor: palette("grey", "raven");
$hovercolor: palette("grey", "iron");
$baseheight: 2.6rem;
$bigheight: 3.2rem;

.aw-pagination {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0 0 1rem;

    list-style: none;

    &__aside {
        margin: 0 0 1rem;

        flex: 0 0 100%;
    }

    &__item {
        display: flex;
        position: relative;
        align-items: center;

        box-sizing: border-box;
        height: $baseheight;
        padding: 0 0.6rem;
        margin: 0 0.5rem 0 0;

        background-color: $basecolor;
        color: palette("text", "light");

        font-size: 1.4rem;
        text-decoration: none;

        transition:
            background-color map-get($animation-speeds, "fast") linear,
            color map-get($animation-speeds, "fast") linear;

        @include respond-to("small") {
            height: $bigheight;
            padding: 0 1rem;

            font-size: 1.6rem;
        }

        &:last-child {
            margin-right: 0;
        }

        // disabled items
        &--disabled {
            background: palette("grey", "sunken");
            color: palette("text", "subdued");

            cursor: not-allowed;

            font-style: italic;
        }

        // next / last item
        &--next,
        &--last {
            margin-right: 0;

            background-color: $altcolor;

            &::after {
                position: absolute;
                top: 0;
                left: 100%;
                z-index: z("form");

                width: 0;
                height: 0;
                border-width: #{$baseheight / 2} 0.7rem;

                border-style: solid;
                border-color: transparent transparent transparent $altcolor;

                content: " ";

                transition: border-color map-get($animation-speeds, "fast") linear;

                @include respond-to("small") {
                    border-width: #{$bigheight / 2} 0.8rem;
                }
            }

            &:last-child {
                padding-left: 1.8rem;

                background-color: $basecolor;

                &::after {
                    border-color: transparent transparent transparent $basecolor;
                }
            }
        }

        // previous / first item
        &--prev,
        &--first {
            margin-right: 0;

            background-color: $altcolor;

            &::before {
                position: absolute;
                top: 0;
                right: 100%;
                z-index: z("form");

                width: 0;
                height: 0;
                border-width: #{$baseheight / 2} 0.7rem;

                border-style: solid;
                border-color: transparent $altcolor transparent transparent;

                content: " ";

                transition: border-color map-get($animation-speeds, "fast") linear;

                @include respond-to("small") {
                    border-width: #{$bigheight / 2} 0.8rem;
                }
            }

            &:first-of-type {
                padding-right: 1.8rem;
                margin-left: 0.7rem;

                background-color: $basecolor;

                &::before {
                    border-color: transparent $basecolor transparent transparent;
                }
            }
        }

        &--prev {
            margin-right: 0.5rem;
        }

        &:not(.aw-pagination__item--active):not(.aw-pagination__item--disabled):hover {
            background-color: $hovercolor;
            color: palette("grey", "black");

            &::after {
                border-left-color: $hovercolor;
            }

            &::before {
                border-right-color: $hovercolor;
            }
        }

        // current page
        &--active {
            background-color: palette("brand", "viking");
            color: palette("grey", "white");

            font-weight: bold;

            &::after {
                border-left-color: $hovercolor;
            }
        }
    }
}
