extends ../layout

block head
    link(rel='stylesheet', href='/public/assets/styles.css')
    include ../webpack/empire.header.pug

block content

    main.aw-content__inner
        div#appRoot

block scripts
    include ../webpack/empire.footer.pug
