extends ../layout

block head
    link(rel='stylesheet', href='/public/assets/styles.css')
    include ../webpack/empire.header.pug

block content

    main.aw-content__inner
        header.aw-content-head
            h1.aw-content-head__title= title
            nav.aw-content-head__breadcrumbs
                a.aw-content-head__breadcrumb(href="/")
                    != h.icon("home", ["home-icon"])
                a.aw-content-head__breadcrumb(href="/games") Games
                a.aw-content-head__breadcrumb(href=`/games/`)= title

        div#appRoot

block scripts
    include ../webpack/app.footer.pug
    include ../webpack/empire.footer.pug
