@import "theme/abstracts/config";
@import "theme/abstracts/functions";

@import "theme/base/typography"; // @font-face declarations

$size: 20px;

body {
    font-family: map-get($fonts, "system");
}

h1 {
    display: flex;

    padding: $size;

    background: map-get($brand, "viking");
    font-family: map-get($fonts, "text");

    &[lang="pt"] {
        padding: 5px;
    }
}

